
body
{ /*Cor de fundo da página*/
    background-color: rgb(243, 247, 252);
}

.blue
{/*Index*/
    box-shadow:0px 0px 15px rgb(0, 0, 0);
    border-radius: 2px;
    padding-bottom: 5px;
    font-family: Rockwell;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    background-color: #002060;
    border: 0px 0px 20px 20px;
}    

.Final-Azul
{
    border-radius: 2px;
    font-size: 70px;
    background-color: #002060;
    margin-top: 80px;
    border: 0px 0px 20px 20px;
}

.white
{/*Corpo do curriculo*/
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    margin-top: 30px;
}    

.aqua
{ /*Tira azul*/
    background-color: rgb(0, 255, 255);
    height: 8px;
}

.nome
{/*Nome*/
    font-size: 40px;
    font-family: verdana;
}

.texto
{/*texto informações com imagens*/
    line-height: 10px;
    font-size: 20px;
    font-family: verdana;
}

.texto2
{/*Menor texto (data e local)*/
    color: rgb(0,32,96);
    font-weight: 600;
    font-size: 15px;
    font-family: Calibri Light;
    line-height: normal;
}

.link
{/*Cor dos links*/
    text-decoration: none;
    color: #002060;
}

aside
{/*Deixa texto na lateral*/
    width: 40%;
    float: right;
}

.titulo-portifolio
{
    color: rgb(0,32,96);
    font-weight: 700;
    font-size: 30px;
    font-family: monospace;
}


.titulo-esquerdo
{/*Titulo granda na parte*/
    color: rgb(0,32,96);
    font-weight: 700;
    font-size: 30px;
    font-family: monospace;
}

.texto2-esquerdo
{
    line-height: 2px!important;
    color: rgb(0,32,96);
    font-weight: 600;
    font-size: 15px;
    font-family: Calibri Light;
    line-height: normal;
    margin-left: -200px;
}

.info
{
    color: rgb(0,32,96);
    font-size: 20px;
    font-family: Corbel;
}

.subtitulo-esquerdo
{
    color: rgb(0,32,96);
    font-size: 20px;
    font-family: Corbel;
}

.info-esquerdo
{
    color: rgb(0,32,96);
    font-weight: 600;
    font-size: 20px;
    font-family: monospace;
}

.texto3
{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    font-family: verdana;
}

.texto3-esquerdo
{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    font-family: verdana;
}
.linha-vertical
{
    height: 930px;
    border: 1px solid;
    color: #002060;
    position: absolute;
    margin-left: 590px;    
    top: 484px;
}

/*EDITAR BARRA DE ROLAGEM*/
body::-webkit-scrollbar 
{
    margin-top: 100px!important;
    width: 12px;              
}
  
body::-webkit-scrollbar-track 
{
    background: #fff;      
}
  

body::-webkit-scrollbar-thumb 
{
    margin-top: 100px!important;
    background-color: #002060;
    border-radius: 20px;      
    border: 3px solid #FFF; 
}
/*EDITAR BARRA DE ROLAGEM*/

.Div-Baixar
{
    box-shadow:0px 0px 15px rgb(0, 0, 0);
    border-radius: 2px;
    text-align: center;
    background-color:rgb(0, 128, 0);
    padding: 20px;        
}

.Div-Baixar:hover
{
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.719);
    color: rgba(255, 255, 255, 0.705);
    background-color:rgb(0, 105, 0);
}


.começo
{    
    background-color: #002060;
    padding-bottom: 15px;
    position: relative;
    z-index: 999;
}