@import url(https://fonts.googleapis.com/css?family=Lato);

#info {
  position: absolute;
  left: 5%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  text-align: center;
}
.section{
  padding-top: 40px;
  font-size: 1em;
  text-align: center;
  background: #f1ede3;
  width: 100%;
  height: 800px;
  color: #555;
  
  -webkit-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}
.night .section{
  background: #080d17!important; /*cor de fundo*/
  color: #e9e5d5!important;
}
.night #intro-text {
  color: #e9e5d5;
}

.fixed-top
{
    z-index: 999;
}

.Link-header
{
  color: #fff;
  font-weight: bold;
}

.time-circle {
  position: relative;
  background: linear-gradient(to bottom, #BE4405, #F6C60C);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4.5px solid #555;
  overflow: hidden;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  text-align: center;

  -webkit-transition: all 1.1s ease-in-out;
    transition: all 1.1s ease-in-out;
}
.night .time-circle{
  background: linear-gradient(to bottom, #111936, #285A7B);
  border-color: #e9e5d5;
}
.sun {
  margin-top: 20px;
  background: #F2EF88;
  box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
  width: 30%;
  height: 30%;
  border-radius: 50%;
  position: relative;
  left: 35%;
  top: 48%;

  -webkit-animation: pulse 5s ease infinite alternate;
  animation: pulse 5s ease infinite alternate;
  -webkit-transition: all 1.1s 0.4s ease;
    transition: all 1.1s 0.4s ease;
}
@keyframes pulse {
    0% {box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);}
    50% {box-shadow: 0 0 40px rgba(242, 239, 136, 1);}
    100% {box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);}
}
@-webkit-keyframes pulse {
    0% {box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);}
    50% {box-shadow: 0 0 40px rgba(242, 239, 136, 1);}
    100% {box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);}
}
.night .sun {
  top: 70%;
  left: 20%;

  -webkit-transition: all 1.1s 0s ease;
      transition: all 1.1s 0s ease;
}
.moon {
  position: absolute;
  margin-top: 20px;
  background: #d9d8d0;
  box-shadow: inset -10px 2px 0 0px #899098;
  width: 22.5%;
  height: 22.5%;
  border-radius: 100%;
  position: relative;
  left: 120%;
  margin-left: -50px;
  top: -50%;
  overflow: hidden;

  -webkit-transition: all 1.1s 0s ease;
    transition: all 1.1s 0s ease;
}
.night .moon {
  left: 65%;
  top: -10%;

  -webkit-transition: all 1.1s 0.4s ease;
      transition: all 1.1s 0.4s ease;
}
.moon div:nth-child(n) {
  position: relative;
  background: #b9b8b0;
  border-radius: 50%;
  box-shadow: inset 4px -2px 0 0px #535457;
}
.moon div:nth-child(1) {
  top: 25%;
  left: 12%;
  width: 27%;
  height: 27%;
}
.moon div:nth-child(2) {
  top: -11%;
  left: 60%;
  width: 16%;
  height: 16%;
}
.moon div:nth-child(3) {
  top: 25%;
  left: 44%;
  width: 16%;
  height: 16%;
}
.stars {
  opacity: 0;
  margin-left: 100px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s 0s ease;
    transition: all 0.8s 0s ease;
  z-index: 1000;
}
.night .stars {
  opacity: 1;

  -webkit-transition: all 3s 0.4s ease;
    transition: all 3s 0.4s ease;
}
.stars div:nth-child(n) {
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  overflow: hidden;
  width: 0.4%;
  height: 0.4%;

  margin-left: 20%;
  margin-top: -20%;

  -webkit-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
}
.night .stars div:nth-child(n) {
  margin-left: 0;
  margin-top: 0;

  -webkit-transition: all 1s 0.4s ease-out;
    transition: all 1s 0.4s ease-out;  
}
.stars div:nth-child(1) {
  left: 25%;
  top: 30%;
}
.stars div:nth-child(2) {
  left: 55%;
  top: 20%;
}
.stars div:nth-child(3) {
  left: 60%;
  top: 60%;
}
.stars div:nth-child(4) {
  left: 40%;
  top: 45%;
}
.stars div:nth-child(5) {
  left: 15%;
  top: 55%;
}
.stars div:nth-child(6) {
  left: 40%;
  top: 10%;
}
.stars div:nth-child(7) {
  left: 80%;
  top: 55%;
}
.water {
  position: absolute;
  background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #f5c30e 30%, #518eac 90%) repeat scroll 0 0 #518eac;
  width: 100%;
  height: 200px;
  top: 68%;

  -webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;

}
.night .water{
  background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #7fa1bb 30%, #1d425a 90%) repeat scroll 0 0 #1d425a;
}
#switch,
#circle {
  height: 30px;
  -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
          transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
} 
#switch {
  width: 60px;
  margin: 0 auto;
  border: 2px solid #DA8508;
  border-radius: 27px;
  background: #DA8508;
  position: relative;
}
#circle {
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #e9e5d5;
}
.switched {
  border-color: #1C3958 !important;
  background: #1C3958 !important;
}
.switched #circle {
  margin-left: 55%;
  background: #e9e5d5;
}


body
{
    overflow-x: hidden;/*tirar barra de rolagem*/
}
                
.corpo/*Corpo fundo azul rgb(243, 247, 252)*/
{ 
    font-family: Helvetica;
    padding-top: 0%;
    margin-top: 0%;
     margin-left: -1%;
     margin-right: -1%;
} 
     
    
/*ESPAÇO DO LOGO*/                            
.começo/*Parte azul do começo*/
{  
text-shadow: 1px -1px #000;
}
                        
.Div-Nome
{
    line-height: 10%;                
    align-items: center;
    text-align: center;

}
    
        
.name/*deixar o logo JEB TECH com efeito*/
{
  text-decoration: none;
    line-height:60px;
    margin-top:10px;
    padding-top:10px;
    background-color: white;
    font-weight: 700;
    background-image: linear-gradient(-75deg, transparent 0, transparent 5%, #002060 5%, rgba(255,255,255,0.5) 10%, transparent 10%, transparent 100%);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 3s ease-in-out infinite;
    transition: 1s;
    padding-bottom: -10px;
}
                  
@keyframes shine 
{
    0% { background-position: 0%; }
    100% { background-position: -120%; }
}
    
.name:hover, .Nome-Credito:hover/*Logo em texto JEB TECH*/
{
    text-shadow: 0px -70px 2px aqua;
} 
    
.text/*paragrafos*/
{
    text-align: Justify;
    line-height: 30px;
    font-size: 20px;
    padding-top: 0%;
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 0%;
}
    

a.link /*links*/
{
    padding: none;
    font-weight: bold;
    color: #00af;
    text-decoration: none;
}
    
a.link:hover /*links*/
{
    color: aqua;
    text-decoration: none;
}
    
.credito /*Div azul no final*/
{
    margin-left: -1%;
    margin-right: -1%;
    background-color: #002060;
    text-align: center;
    padding-top: 25px;
    margin-bottom: -1%;
}
                
                
.name
{
    font-family: Rockwell;
    color: white;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;

}
    

.titulo{
    font-family:  Calibri;
    color: #00af;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 900;
    padding-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 0%;
}

.super-titulo
{
    margin-top: 50px;
    color:#002060;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}  
/* MENU DE NAVEGACAO*/
.fixed-top{/*Menu*/
    background: #002060!important;
    font-weight: 700;
    
}
.navbar-brand
{
  border-radius: 5px;;
  padding: 10px;
  background: blue;
}

.navbar-brand:hover
{
  background: rgba(0, 0, 255, 0.521);
}

.navbar
{
  padding: 100px;
}
.dropdown-item
{/*Menu*/
    font-weight: 500!important;
}
/*MENU DE NAVEGACAO*/


.Nome-Credito
{
    font-family: Rockwell;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 20px;
    transition: 1s;
    transform:scale(1.1);
}



.destaque{/*texto em destaque*/
    text-decoration: none;
    color: #002060;
    font-weight: bold;
        
}
/*FORMULARIO*/

#Li-Link{
    display: block !important;
}
    
img.links{/*Deixar logo branco*/
    transition: transform 1s;
    background: #fff;
    box-shadow: -4px 5px 0px 0px aqua;
    margin: 5px;
}
    
img.links:hover{/*Deixar logo branco*/
    filter: invert(100%);
    transform:scale(1.2);
    box-shadow: none;
}

.baixar
{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    border: 1px solid #00af;
    color: rgb(243, 247, 252);
    background-color: #00af; 
    cursor: pointer;
    text-decoration: none;
    transition: 1s all ease;
    box-shadow: 7px 5px 0px 0px #000;    
}

.baixar:hover
{
    color: black;
    background-color: rgb(255, 255, 255); 
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
   box-shadow: 7px 5px 0px 0px #00af;
}

.baixar-Certificado/*Botão de baixar o certificado*/
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-color: c; 
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.baixar-Certificado:hover
{
    color: #fff;
    text-decoration: none;
}


.Efeito-Imagem/*Certificados*/
{
    transition: -webkit-transform 1s;
}

img.Efeito-Imagem:hover/*Somente Certificados em imagens  hover*/
{
    filter: brightness(1.4);
    -webkit-transform: scale(1.2);
    border-radius: 5px;
    box-shadow: 0px 7px 20px 4px #002060a8;
}

.Efeito-Imagem:hover/*Efeitos no certificado em PDF*/
{
    cursor: zoom-in;
    -webkit-transform: scale(1.2);
    border-radius: 5px;
    box-shadow: 0px 7px 20px 4px #002060a8;
}

textarea/*Campo de mensagem da pagina contato*/
{
    resize: none!important;
    height: 213px!important;
}

.enviar/*botao de ver mais experiencias*/
{
    background-color:  #00AF;
    color: white;
    box-shadow: 7px 5px 0px 0px #000;
}

.enviar-form/*Botao de enviar no formulario*/
{
    display: block;
    background-color: #00AF;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    color: white;
    box-shadow: 7px 5px 0px 0px #000;
    margin-bottom: 30px;
}
        
.enviar:hover, .enviar-form:hover
{
    background: #000;
    box-shadow: 7px 5px 0px 0px #00AF;
    color: #fff;         
}
        
.red{/*texto em vermelho*/
    color: red;
}
.borda{
    border:1px solid rgb(0, 0, 255);
    padding: 1px;
    background-color: #fff;
}

.Foto-Joao{/*Foto da página index*/
    box-shadow:0px 0px 15px rgb(0, 0, 0);
    margin-right: 25px;
    border-radius: 200px;
}

.Foto-Joao:hover{/*Aplicar efeito na imagem*/
    box-shadow:0px 0px 15px rgba(107, 107, 107, 0.822);
    filter: brightness(1.1);
}

*::selection, p::selection, w::selection, a::selection, img::selection, .sub-titulo, .titulo::selection{/*Seleção de texto e imagem*/
    color:#fff;
    background: black;
}

.HTML-css/*Imagem HTML*/
{
    box-shadow:0px 0px 15px rgb(0, 0, 0);
    border-radius: 2px;
    border: 8px groove rgb(0, 0, 255);
    margin: 10px;
}

.Sub-Titulo /*Pequeno titulo nas paginas*/
{
    color: rgb(0, 0, 255);
    text-align: center;
    font-size: 25px;
}

.Menu/*Memu para celular*/
{
    filter: invert(100%);
}

#none-PC
{
    display: none;
}

.sobre
{
    padding-top: 50px;
    margin-bottom: 50px; 
}

.curriculum, .contato, .experiencia, div.link, .certificado, .corpo /*paginas*/
{
    padding-top: 50px;
    padding-bottom: 50px;
}


html {
  scroll-behavior: smooth;
}
 
:target {
  scroll-margin-top: .8em;
}

header{
  display: flex!important;
  align-items: center!important;

  min-height: 100vh;
  color: #fff;
  padding: 4rem 2rem;
  width: 100%;
  height: 100vh;
  background-image: url("Fundo.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

section{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 8%;
  font-size: 22px;
  line-height: 42px;
  color: rgb(80,80,80);
}

footer{
  font-size: 42px;
  color: white;
  background-color: #002060;
  padding: 30px;
  text-align: center;
  box-shadow: 4px -20px 20px 20px #002060;
}

.descer svg
{
  animation: go-back 1s infinite alternate-reverse;
  animation-timing-function: ease-in-out!important;
  animation-fill-mode: both;
  color: rgba(255, 255, 255, 0.637)!important;
}

@keyframes go-back {
  from {
    transform: translatey(-50px);
  }
  to {
    transform: translatey(0);
  }
}


/**TOOLIP**/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.descer:hover svg:hover
{
  color: rgba(255, 255, 255)!important;
}

button.botao-green:hover
{
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

button.botao-blue:hover
{
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

button.botao-black:hover
{
  color: rgba(255, 255, 255, 0.63);
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

button.botao-red:hover
{
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.descer
{
  align-items: center;
  bottom: 0;
  left: 60px;
  margin-top: 90vh;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*RESPONSIVIDADE*/

.dropdown-item
{/*Menu*/
    font-weight: 500!important;
}

.dropdown-item:hover, .dropdown-item.active, .dropdown-item:active, .exampleFormControlSelect1:hover
{/*Menu*/
    background: #002060!important;
    color: #fff!important;
}

.curriculum, .contato, .experiencia, div.link, .certificado, .corpo /*paginas*/
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.experiencia, .contato, .sobre
{
    background-color: rgb(243, 247, 252);/*Azul do Fundo*/
}

.curriculum, .certificado
{
    background-color: #FFF;
}


@media screen and (max-width: 900px)/*ADAPTAÃ‡ÃƒO PARA DISPOSITIVOS*/
{
    .text/*paragrafos*/
    {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .Foto-Joao/*Foto da página index*/
    {
        width: 150px
    }
    
    .name/*deixar o logo JEB TECH com efeito*/
    {
        font-family: Rockwell;
        font-size: 35px;
    }
    
    .Sub-Titulo
    {
        font-size: 15px;
    }
    
    .HTML-css
    {
        width: 150px;
        height: 150px;
    }
    
    .começo
    {
        margin-left: -5px;
        margin-right: -5px;
    }
    
    #certificado
    {
        width: 100px;
        height: 100px;
    }
    
    .baixar
    {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }